.image-modal-container{
  overflow: hidden;
}

.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 200%;
  min-height: 4320px;
  background: url(../../assets/modalOverlayImage1.jpg) repeat;
  background-repeat: repeat;
  animation: slide 60s linear infinite;
  opacity: 20%;
  }
  
  #profile-user-name{
    margin-bottom: 0;
    
  }

  .image-modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .image-modal {
    background: linear-gradient(rgb(85, 79, 71),rgb(36, 35, 34));
    z-index: 100;
    position: relative;
    margin: auto;
    top: 8%;
    border-radius: 3px;
    padding-top: 15px;
    min-width: 60%;
    max-width: 800px;
    min-height: 50vh;
    box-shadow: 0 0 4px 2px rgba(36, 36, 36, 0.541);
  }
  
  .image-logo-div{
    margin: auto;
    margin-left: 10px;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .image-modal-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }

  .button-image {
    display: block!important;
    border-radius: 0px!important;
    border: none!important;
    min-width: 100%!important;
    min-height: 100%!important;
    margin: 0px!important;
    padding: 0!important;
  }

  .title-image{
    min-height: 400px!important;
    min-width: 100%!important;
    color: white!important;
    padding-top: 300px !important;
  }

  .image-modal-close-button{
    margin-left: 40%;
    margin-top: auto;
    margin-bottom: auto;
    height: 50px;
    outline: none;
    color: white;
    background-color: rgb(85, 79, 71);
    border: solid;
    border-width: 3px;
    border-color: white;
    box-shadow: 0 0 4px 2px rgba(36, 36, 36, 0.541);
  }

  .image-modal-close-button:hover{
    border-color: rgb(255, 221, 221);
    color: rgb(255, 221, 221);
    background-color: rgb(83, 73, 60);
    box-shadow:inset 0 0 4px 2px rgba(36, 36, 36, 0.541);
  }
  .image-modal-close-button:active{
    border-color: Red;
    color: Red;
    background-color: rgb(82, 67, 47);
    box-shadow:inset 0 0 4px 2px rgba(36, 36, 36, 0.541);
  }

  .image-modal-card{
    min-width: 100%;
  }

  .image-card-container{
  position: absolute;
  }

  .image-card{
    margin: auto;
    background: linear-gradient(rgb(85, 79, 71),rgb(36, 35, 34))!important;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.541);
    padding: 15px;
  }

  .image-card-text-header{
    margin: auto;
    min-height: 100%;
    max-width: 80%;
  }

  .image-card-text{
    margin: auto;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    color: rgb(211, 211, 211)!important;
    max-width: 80%;
    text-align: center;
    padding: 1%!important;
    margin-bottom: 6%;
    text-shadow: 1px 1px 3px black;
  }

  .image-card-logo{
    margin: auto;
    margin-top: 5px!important;
    margin-bottom: 5px!important;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .image-pop{
    text-align: center;
    min-width: 100%!important;
    min-height: 400px!important;
  }

  @keyframes slide{
    0%{
      transform: translate3d(0, 0, 0);
    }
    100%{
      transform: translate3d(0, -1440px, 0);
    }
  }

  @media screen and (min-width: 1201px) {
    .image-card-container{
      top: 20vh;
      width: 100vw;
      min-height: 65%;
    }
    
    .image-card{
      min-height: 100%!important;
      max-height: 100%;
      min-width: 40%!important;
      }


    .button-image{
      font-size: 35px;
      padding-right: 35px;
      padding-left: 35px;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    .image-logo-div{
      margin-top: 15px;
      margin-bottom: 15px;
      min-height: 60px;
      min-width: 60px;
    }
    .image-card-logo{
      margin-top: 15px;
      margin-bottom: 15px;
      min-height: 75px;
      min-width: 75px;
    }
    .image-card-text{
      font-size: 25px!important;
      line-height: 1!important;
      min-height: 180px;
    }
    .image-card-text-header{
      font-size: 30px!important;
    }
  }

  @media screen and (max-width: 1200px) {
    .image-card-container{
      top: 20vh;
      width: 100vw;
      min-height: 65%;
    }
    
    .image-card{
      min-height: 100%!important;
      max-height: 100%;
      min-width: 50%!important;
      max-width: 80%!important;
    }
    .button-image{
      font-size: 30px;
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .image-logo-div{
      margin-top: 13px;
      margin-bottom: 13px;
      min-height: 55px;
      min-width: 55px;
    }
    .image-card-logo{
      margin-top: 13px;
      margin-bottom: 13px;
      min-height: 50px;
      min-width: 50px;
    }
    .image-card-text{
      font-size: 20px!important;
      line-height: 1!important;
      min-height: 150px;
    }
    .image-card-text-header{
      font-size: 25px!important;
    }
  }

  @media screen and (max-width: 600px) {
    .image-card-container{
      top: 20vh;
      width: 100vw;
      min-height: 65%;
    }
    
    .image-card{
      min-height: 100%!important;
      max-height: 100%;
      min-width: 50%!important;
      max-width: 80%!important;
    }
    .button-image{
      font-size: 25px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .image-logo-div{
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 50px;
      min-width: 50px;
    }
    .image-card-logo{
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 35px;
      min-width: 35px;
    }    
    .image-card-text{
        font-size: 15px!important;
        line-height: 1!important;
        min-height: 110px;
    }
    .image-card-text-header{
        font-size: 20px!important;
    }
  }

  @media screen and (max-width: 300px) {
    .image-card-container{
      top: 20vh;
      width: 100vw;
      min-height: 65%;
      }
    
    .image-card{
      min-height: 100%!important;
      max-height: 100%;
      min-width: 50%!important;
      max-width: 80%!important;
    }
    .button-image{
      font-size: 17px;
      padding-right: 17px;
      padding-left: 17px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .image-logo-div{
      margin-top: 7px;
      margin-bottom: 7px;
      min-height: 40px;
      min-width: 40px;
    }
    .image-card-logo{
        margin-top: 7px;
        margin-bottom: 7px;
        min-height: 25px;
        min-width: 25px;
    }
    .image-card-text{
      font-size: 10px!important;
      line-height: 1!important;
      min-height: 90px;
    }
    .image-card-text-header{
      font-size: 15px!important;
    }
  }
